[submodule "json11"]
	path = external/json11
	url = ../../dropbox/json11.git

[submodule "qmsetup"]
	path = external/qmsetup
	url = ../../stdware/qmsetup.git

[submodule "stdcorelib"]
	path = external/stdcorelib
	url = ../../SineStriker/stdcorelib.git
